*
{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='437'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

main
{
    margin: 40px auto;
    background-color: hsl(0, 0%, 100%);
    width: 35%;
    display: flex;
    flex-direction: column;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.main-img
{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
}

.main__div-flex-container
{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

h1
{
    margin-top: 0;
}

h1, p
{
    text-align: center;
    margin-bottom: 15px;
}

.div__payment-plan
{
    background-color: hsl(225, 100%, 98%);
    height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0 20px;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.div__button-container
{
    display: flex;
    flex-direction: column;
}

.div__button-container button
{
    height: 45px;
    background-color: transparent;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: none;
}

.div__button-container button:first-child
{
    background-color: hsl(245, 75%, 52%);
    margin-bottom: 5px;
    color: hsl(225, 100%, 98%);
}

.div__span-container
{
    display: flex;
    flex-direction: column;
}

h1, .div__span-container span:first-child
{
    color: hsl(223, 47%, 23%);
}

.change-button
{
    background-color: transparent;
    border: none;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}

.div__button-container button, .div__span-container span:first-child, .change-button
{
    font-weight: bold;
}

p, .div__button-container button:last-child, .div__span-container span:last-child
{
    color: hsl(224, 23%, 55%);
}

.change-button:hover
{
    text-decoration: none;
    color: hsl(245, 54%, 54%);
}

.div__button-container button:first-child:hover
{
    background-color: hsl(245, 54%, 54%);
}

.div__button-container button:last-child:hover
{
    color: hsl(223, 47%, 23%);
}

.change-button:hover, .div__button-container button:first-child:hover, .div__button-container button:last-child:hover
{
    cursor: pointer;
}

footer
{
    margin: 0 auto;
}

@media only screen and (max-width: 1030px)
{
    main
    {
        width: 50%;
    }
}

@media only screen and (max-width: 800px)
{
    main
    {
        width: 95%;
    }
}

@media only screen and (max-width: 400px)
{
    .div__payment-plan
    {
        padding: 0 5px;
    }
}